* {
    background-color: rgb(114, 35, 35);
}

.container_n {
    background-color: rgb(114, 35, 35);
    justify-content: center;
    height: 89vh;
    display: flex;
}

.team-section-1 {
    width: 89%;
    display: flex;
    margin-top: 13vh;
}

.team-section {
    height: 60vh;
    display: flex;
    margin-top: 100px;
}

.person {
    flex: 1;
    height: 71.5vh;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    position: relative;

}

.pictext {
    z-index: 10;
    top: 100px;
}


.hide1 {
    display: none;
}

.hide2 {
    display: none;
}

.hide3 {
    display: none;
}

.hide4 {
    display: none;
}

.hide5 {
    display: none;
}

.c1 {
    position: absolute;
    width: 400px;
    height: 300px;
    top: 90%;
    left: 8%;
    margin-left: 50px;
    z-index: 100;

}

.c2 {
    position: absolute;
    width: 400px;
    height: 300px;
    top: 90%;
    left: 27%;
    margin-left: 50px;
    z-index: 100;

}

.c3 {
    position: absolute;
    width: 400px;
    height: 300px;
    top: 90%;
    left: 44%;
    margin-left: 50px;
    z-index: 100;

}

.c4 {
    position: absolute;
    width: 400px;
    height: 300px;
    top: 90%;
    left: 62%;
    margin-left: 50px;
    z-index: 100;

}

.c5 {
    position: absolute;
    width: 400px;
    height: 300px;
    top: 90%;
    left: 81%;
    margin-left: 50px;
    z-index: 100;

}

input[type=text] {
    width: 40px;
    height: 20px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border: 1px solid #ffffff;
    text-align: center;
    font-family: "arial";
    /* font-weight: bolder; */
    background-color: transparent;
    border-radius: 30%;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 0 1000px rgb(114, 35, 35)inset;
}

input[type=button] {
    color: rgb(114, 35, 35);
    font-size: 15px;
    text-align: center;
    font-family: "arial";
    /* font-weight: bolder; */
    border: 1px solid #ffffff;
    background-color: #f5e8c4;
}





#modal11 p {
    margin-left: -20px;
}

#modal12 p {
    margin-left:  -20px;
}

#modal13 p {
    margin-left:  -20px;
}

#modal14 p {
    margin-left:  -20px;
}

#modal15 p {
    margin-left:  -20px;
}


.footer {
    margin-top: 40px;
    background-color: #7d7d7e00;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 2;
    width: 100%;
}

.footer .container {
    background-color: #7d7d7e00;
    display: flex;
}

.containerr {
    width: 100%;
    margin: 0;
    padding: 0;
}

#neon-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn {
    border: 1px solid;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 25px;
    padding: 8px 16px;
    font-weight: 200;
    margin-left: 60px;
    margin-right: 60px;
}

.btn2 {
    border: 1px solid;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 25px;
    padding: 8px 16px;
    font-weight: 200;
    background-color: #f0db36;
    /* -webkit-box-shadow: 10px 10px 99px 1px #4cc9f0; */
    /* -moz-box-shadow: 10px 10px 99px 1px #4cc9f0; */
    /* box-shadow: 10px 10px 99px 1px #4cc9f0; */
    color: white;
    border: 0;
    margin-left: 60px;
    margin-right: 60px;
}

.one {
    color: #4cc9f0;

    border: 2px solid #4cc9f0;
}

.two {
    color: #f038ff;

    border: 2px solid #f038ff;
}

.three {
    color: #b9e769;

    border: 2px solid #b9e769;
}

.four {
    color: #4cc9f0;

    border: 2px solid #4cc9f0;
}

